/* header */
header {
    width: 100%;
    height: 81.5px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    box-shadow: 0px 0px 1px rgb(169, 169, 169);
}
.nav-link {
    font-family: 'Poppins';
    padding: 30px 31px;
    font-size: 13px;
    z-index: 2;
}
.dropdown-item {
    padding: 10px 40px;
}
.nav-item a {
    color: #3e2723;
    text-decoration: none;
}
.dropdown-menu {
    margin: 0;
    padding: 0;
    border-radius: 0;
    display: none; 
    position: absolute;
    left: 0;
}
.nav-item:hover .dropdown-menu {
    display: block;
}
.dropdown-item {
    padding: 5px 20px;
}
.dropdown-item:hover {
    background-color: #388E3C;
    color: white;
}
/* products */
h3 {
    margin-top: 128px;
    margin-bottom: 50px;
    font-size: 36px;
    color: #27662a;
    text-align: center;
    font-family: 'Prata';
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    text-align: left;
    margin-left: 20px;
    background-color: #27662a;

}
.img-fluid {
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    text-align: left;
    border: none;
    padding-bottom: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 7px solid #ccc;
}
.card::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 7px;
    background-color: #4CAF50;
    transition: width 0.3s ease;
}
.card:hover::after {
    width: 100%;
}
.carousel,
.carousel-item {
    height: 600px;
}
.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.carousel-indicators [data-bs-target] {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
}
.wrap-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
    padding: 20px;
}
.wrap-content .title-content {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 15px;
}
.wrap-content .go-sub-title span {
    display: inline-block;
    position: relative;
    background-color: #fff;
    padding: 10px 40px;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    color: #388E3C;
    overflow: hidden;
    z-index: 0;
    transition: color 0.3s ease;
}
.wrap-content .go-sub-title span::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #388E3C;
    z-index: -1;
    transition: left 0.5s ease;
}
.wrap-content .go-sub-title span:hover::before {
    left: 0;
}
.wrap-content .go-sub-title span:hover {
    color: #fff;
}
.carousel-control-prev-icon
{
    display: block;
    width: 20px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 33px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffff;
}