/* header */
header {
    width: 100%;
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.title-content{
    font-family: Prata;
    font-style: normal;
    font-weight: 400;
}
.nav-link {
    font-family: 'Poppins';
    padding: 30px 31px;
    font-size: 13px;
    z-index: 2;
}
.nav-link:hover{
    color: #388e3c !important;
}
.dropdown-item {
    padding: 10px 40px;
}

.nav-item .nav-link {
    color: #3e2723;
    text-decoration: none;
}
.dropdown-menu {
    margin: 0;
    padding: 0;
    border-radius: 0;
    display: none; 
    position: absolute;
    left: 0;
    width: 150px;
    background-color: #388e3c;
    margin-left: 20px;
    color: #fff !important;

}
.dropdown-menu .dropdown-item{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    line-height: 1.5;
}
.dropdown-menu .dropdown-item:hover{
    color: #fff;
    background-color:#163717;

}
svg{
    overflow: hidden;
    vertical-align: middle;
}
img{
    width: 123px;
    font-family: Poppins ;
}
.nav-item:hover .dropdown-menu {
    display: block;
}
.dropdown-item {
    padding: 5px 20px;
}
.dropdown-item:hover {
    background-color: #388E3C;
    color: white;
}
/* products */
h3 {
    margin-top: 128px;
    margin-bottom: 50px;
    font-size: 36px;
    color: #27662a;
    text-align: center;
    font-family: 'Prata';
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    text-align: left;
    margin-left: 20px;
}
.card-text{
    display: block;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5d4037;
}
.img-fluid {
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 10px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    text-align: left;
    border-radius: 2px;
    border: none;
    padding-bottom: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 7px solid #ccc;
}
.card::after {
    content: "";
    position: absolute;
    bottom: -7px;
    border-radius: 2px;
    left: 0;
    width: 0;
    height: 7px;
    background-color: #4CAF50;
    transition: width 0.3s ease;
}
.card:hover::after {
    width: 100%;
}
.carousel,
.carousel-item {
    height: 600px;
}
.card-title{
    font-family: Poppins;
    font-style: normal;
    color: #163717;
}
.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.carousel-indicators [data-bs-target] {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
}
.wrap-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 10;
    padding: 20px;
}
.wrap-content .title-content {
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.wrap-content .go-sub-title span {
    display: inline-block;
    margin-top: 20px;
    font-weight: 500;
    position: relative;
    background-color: #fff;
    padding: 16px 10px;
    font-size: 12px;
    line-height: 1.5;
    min-width: 260px;
    letter-spacing: .25em;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    color: #388E3C;
    overflow: hidden;
    z-index: 0;
    transition: color 0.3s ease;
}
.wrap-content .go-sub-title span::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #388E3C;
    z-index: -1;
    transition: left 0.5s ease;
}
.wrap-content .go-sub-title span:hover::before {
    left: 0;
}
.wrap-content .go-sub-title span:hover {
    color: #fff;
}
.carousel-control-prev-icon
{
    display: block;
    width: 20px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 33px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffff;
}
.our-products {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    text-align: left;
    border: none;
    padding: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 7px solid #ccc;
}

.our-products::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 0;
    height: 7px;
    background-color: #4CAF50;
    transition: width 0.3s ease;
}

.our-products:hover::after {
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin: 0px 0px 24px;
}

.col-12 {
    margin-bottom: 16px;
}

.card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
}

.card-title {
    font-size: 18px;
    font-family: 'Poppins';
    color: #163717;
}

.card-text {
    color: #bcaaa4;
    font-size: 14px;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.nav-tabs {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}

.nav-tabs .nav-link {
    border: none;
    font-size: 18px;
    color: #bcaaa4;
    font-family: 'Poppins';
    padding: 0px 40px;
}
.nav-tabs .nav-link.active {
    text-decoration: none;
    color: #3e2723;
}
.nav-tabs {
    border-bottom: none;
}
.div {
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
}
.card-text {
    width: 100%;
    color: #bcaaa4;
    font-size: 14px;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.card-text span{
    color: #4CAF50;
font-weight: bold;
}